<style>
    @keyframes mymove {
      from {left: 0px;}
      to {left: 300px;}
    }
    .box1 {
      width: 100px;
      height: 50px;
      font-weight: bold;
      position: relative;
      animation: mymove 5s infinite;
    }
</style>
<style>
  @keyframes fade-inout{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  .hello{
    animation: fade-inout 5s;
  }
  @keyframes fade-outin{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  .hello,.image1{
    animation: fade-inout 3s;
  }
  .hl{
    background-image: url("img.jpg");
  }
</style>
<section class="text-white bg-gray-900 hello" id="sec1">
    <div class="container mx-auto flex px-1 py-40 items-center justify-center flex-col hl">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Unlock the future you</h1>
        <p class="mb-8 leading-relaxed text-white">Feel confident in your next career move with the insights and data you need.</p>
        <br>
        <div class="flex justify-center">
          <button class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">Button</button>
          <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button</button>
        </div>
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font" id="sec2">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Lorem ipsum dolor sit.</h1>
      <br>
      <br>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/3">
        <a href="">
          <div id="box1" class="h-full bg-gray-200 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Lorem</h1>
            <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, facere veniam!</p>
          </div>
        </a>
      </div>
        <div class="p-4 lg:w-1/3">
          <a href="">
            <div class="h-full bg-gray-200 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
              <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Lorem</h1>
              <p class="leading-relaxed mb-3">Reflect upon your past experiences and future goals, and learn what makes you unique.</p>
            </div>
          </a>
        </div>
        <div class="p-4 lg:w-1/3">
          <a href="">
            <div class="h-full bg-gray-200 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
              <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Lorem</h1>
              <p class="leading-relaxed mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste perferendis delectus in laborum?</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded image1" alt="hero" src="https://dummyimage.com/720x600">
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Text</h1>
        <p class="mb-8 leading-relaxed">Explore over 1,000 careers and degrees. Learn who thrives in them and why.</p>
        <br>
        <div class="flex w-full md:justify-start justify-center items-end">
          <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4">
            <input type="text" id="hero-field" name="hero-field" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-blue-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <button class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg" action="">Button</button>
        </div>
        <p class="text-sm mt-2 text-gray-500 mb-8 w-full">Neutra shabby chic ramps, viral fixie.</p>
        <br>
        <div class="flex lg:flex-row md:flex-col"></div>
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">People say great things about us</h1>
      <br>
      <br>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-100 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed mb-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi quasi ut, labore voluptatem nulla non aliquid ducimus fugiat officiis! Delectus, possimus facere doloribus odio qui quam quasi repellat ex veniam.</p>
            <a class="inline-flex items-center">
              <img alt="testimonial" src="https://dummyimage.com/106x106" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">Name</span>
                <span class="text-gray-500 text-sm"></span>
              </span>
            </a>
          </div>
        </div>
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-100 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed mb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis magni animi pariatur libero eius, recusandae laborum, fuga accusantium sint consectetur, maxime dignissimos unde soluta distinctio!</p>
            <a class="inline-flex items-center">
              <img alt="testimonial" src="https://dummyimage.com/107x107" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">Name</span>
                <span class="text-gray-500 text-sm"></span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>